﻿@using barometer.Models.ViewModel;
@model InfoGraphicViewModel

<div class="info-graphics">
    <table>
        <colgroup>
            <col span="1" class="first_column">
            <col span="1" class="second_column">
            <col span="1" class="third_column">
            <col span="1" class="fourth_column">
            <col span="1" class="fifth_column">
            <col span="1" class="sixth_column">
            <col span="1" class="seventh_column">
            <col span="1" class="eighth_column">
            <col span="1" class="nineth_column">
            <col span="1" class="tenth_column">
            <col span="1" class="eleventh_column">
            <col span="1" class="twelfth_column">
            <col span="1" class="thirteenth_column">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                @for (int i = 0; i < Model.Header.Count; i++)
                {
                    <th class="count">
                        <div>@Model.Header[i].Count</div>
                    </th>
                    <th class="sum">
                        <div>
                            @Model.Header[i].Sum
                            <img src='@Url.Content("~/Content/images/" + (Model.Header[i].IsRaise ? "raise" : "fall") + ".png")' width='8' height='11'>
                        </div>
                    </th>
                    if (i == 1)
                    { 
                        <th class="date-info">
                            <div>
                                <p>@Model.NameMonth</p>
                                <p>@Model.Year</p>
                            </div>
                        </th>
                    }
                    else
                    {
                        <th></th>
                    }

                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Data.Count / 4; i++)
            {
                <tr>
                    <td></td>
                    <td class="flag">
                        @if(!string.IsNullOrEmpty(Model.Data[i].Alias))
                        { 
                            <img src='@Url.Content("~/Content/images/countries/" + Model.Data[i].Alias + ".png")' width='24' height='24'>
                        }
                    </td>
                    <td>
                        <div>@Model.Data[i].Sum</div>
                    </td>
                    <td></td>
                    <td class="flag">
                        @if(!string.IsNullOrEmpty(Model.Data[i+5].Alias))
                        { 
                            <img src='@Url.Content("~/Content/images/countries/" + Model.Data[i + 5].Alias + ".png")' width='24' height='24'>
                        }
                    </td>
                    <td>
                        <div>@Model.Data[i + 5].Sum</div>
                    </td>
                    @if (i == 0)
                    { 
                        <td rowspan="5">
                            <div class="info">
                                <p class="top">ТОП 5 КРАЇН</p>
                                <p class="count">КІЛЬКІСТЬ ГОСТЕЙ</p>
                            </div>
                        </td>
                    }
                    <td class="flag">
                        @if (!string.IsNullOrEmpty(Model.Data[i+10].Alias))
                        { 
                            <img src='@Url.Content("~/Content/images/countries/" + Model.Data[i + 10].Alias + ".png")' width='24' height='24'>
                        }
                    </td>
                    <td>
                        <div>@Model.Data[i + 10].Sum</div>
                    </td>
                    <td></td>
                    <td class="flag">
                        @if (!string.IsNullOrEmpty(Model.Data[i+15].Alias))
                        { 
                            <img src='@Url.Content("~/Content/images/countries/" + Model.Data[i + 15].Alias + ".png")' width='24' height='24'>
                        }
                    </td>
                    <td>
                        <div>@Model.Data[i + 15].Sum</div>
                    </td>
                    <td></td>
                </tr>
            }
        <tbody>
    </table>
</div>
<div class="clearfix"></div>
<p class="info-graphics-about no-padding-left"><img src="@Url.Content("~/Content/images/about-arrow.png")" width="11" height="8">завантаженість збільшилась/зменшилась в порівнянні з аналогічним місяцем попереднього року</p>