﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Barometer Lviv</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Styles.Render("https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/toastr.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="container static-container">
            <a href="http://www.touristinfo.lviv.ua/" target="_blank" class="logo logo-first pull-left">
                <p class="pull-right text-left">
                    Центр туристичної інформації
                </p>
            </a>
            <a href="@Url.Action("Index","Home")" class="logo logo-second pull-left"></a>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_NavbarHelp")
            }
        </div>
    </header>
    <div class="clearfix"></div>
    <main>
        <div class="container main-container static-container">
            @if(User.Identity.IsAuthenticated)
            {
                @Html.Partial("_Navbar")
            }
            @RenderBody()
        </div>
    </main>
    <div class="clearfix"></div>
    <footer>
        <div class="container static-container no-padding-left">
            <ul class="info list-unstyled">
                <li class="logo_footer">
                    <p>Центр туристичної інформації</p>
                </li>
                <div class="clearfix"></div>
                <li>Tel.: +38(032) 254 60 84</li>
                <li><a href="mailto:info@barometer.lviv.ua">info@barometer.lviv.ua</a></li>
                <li><a href="https://barometer.lviv.ua">barometer.lviv.ua</a></li>
                <li><a href="http://www.touristinfo.lviv.ua">touristinfo.lviv.ua</a></li>
                <li><a href="http://lviv.travel">lviv.travel</a></li>
            </ul>
        </div>
    </footer>
    <div id="changePasswordModalPlace"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/Scripts/toastr.min.js")
    @Scripts.Render("http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")
    @Scripts.Render("http://cdn.datatables.net/plug-ins/1.10.12/sorting/date-de.js")
    @Scripts.Render("http://cdn.datatables.net/plug-ins/1.10.12/api/sum().js")
    @Scripts.Render("https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js")
    @Scripts.Render("https://www.gstatic.com/charts/loader.js");
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/changePassword")
    @RenderSection("Scripts", false)
</body>
</html>
