﻿@using barometer.Extensions.HtmlHelpers
<nav class="navbar">
    <div class="container no-padding static-container">
        <div class="collapse navbar-collapse no-padding">
            <ul class="nav navbar-nav">
                @if(!User.IsInRole("Operator"))
                {
                    <li>@Html.MenuActionLink("Введення даних", "InsertData", "Home")</li>
                }
                <li>@Html.MenuActionLink("Огляд даних", "ReviewOfData", "Home")</li>
                <li>@Html.MenuActionLink("Benchmarking", "Benchmarking", "Home")</li>
                <li>@Html.MenuActionLink("Зворотній зв'язок", "Feedback", "Home")</li>
                <li>@Html.MenuActionLink("Інфографіка", "InfoGraphics", "Home")</li>
                <li>@Html.MenuActionLink("Особиста інформація", "EditUserData", "Account")</li>
                @if(User.IsInRole("TIC"))
                {
                    <li>@Html.MenuActionLink("Відвідини", "Index", "TICData")</li>
                }
                @if(User.IsInRole("Operator"))
                {
                    <li>@Html.MenuActionLink("Коментарі", "Comments", "Operators")</li>
                    <li>@Html.MenuActionLink("Статистика", "Statistics", "Operators")</li>
                    <li>@Html.MenuActionLink("Реєстрація", "Register", "Account")</li>
                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
