﻿@using barometer.Helpers
<nav class="navbar-help navbar pull-right">
    <div class="user-name pull-right">
        Ви увійшли як @CommonHelper.GetFullName(User.Identity.Name)</div>
        <div class="no-padding">
            <div class="collapse navbar-collapse no-padding">
                <ul class="nav navbar-nav pull-right">
                    <li><a target="blank" href="@Url.Content("~/Content/pdf/Про проект 2017.pdf")">Про проект</a></li>
                    <li><a target="blank" href="@Url.Content("~/Content/pdf/Туристичний барометер. Договір про співпрацю 2017.pdf")">Договір про співпрацю</a></li>
                    <li><a href="javascript:void(0)" id="changePasswordLink">Змінити пароль</a></li>
                    <li><a href="javascript:void(0)" id="logOff">Вихід</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>
<form action="@Url.Action("LogOff", "Account")" method="POST" id="logOffPOST">
    @Html.AntiForgeryToken()
</form>
