﻿
@{
    ViewBag.Title = "Огляд даних - barometer.lviv.ua";
}

<h3 class="text-danger text-center">Вибачте за незручності!</h3>
<h3 class="text-danger text-center">Огляд даних Ви зможете здійснити через декілька днів</h3>
<h3 class="text-danger text-center">Середню завантаженість закладу Ви можете переглянути в @Html.ActionLink("Benchmarking", "Benchmarking", "Home")</h3>
<h3 class="text-danger text-center">Дякуємо за розуміння!</h3>

