﻿body {
    background-color: #525659;
   -webkit-print-color-adjust: exact;
}

main, header {
    margin: 0 auto;
    width: 1200px;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

header {
    height:30px;
    margin-bottom: 25px;
}

.btn-primary, .btn-primary:hover, 
.btn-primary:focus, .btn-primary:active,
.btn-primary:active:hover, 
.btn-primary.active:hover, 
.open > .dropdown-toggle.btn-primary:hover, 
.btn-primary:active:focus, .btn-primary.active:focus, 
.open > .dropdown-toggle.btn-primary:focus, 
.btn-primary:active.focus, .btn-primary.active.focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled.focus, 
.btn-primary[disabled].focus, 
fieldset[disabled] .btn-primary.focus { 
    background-color: #663B22!important;
    border-color: #000000!important;
}

.table-for-report {
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.table-for-report-body,
.table-for-report-header {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
}

#ConvertToPDF {
    width: 100%;
    height: 27px;
    line-height: 18px;
}

.left-chart {
    padding-top: 50px;
    width: 750px;
}

.rigth-chart {
    width: 300px;
    padding-top: 122px;
}

.group-chart {
    width: 1050px;
}

.table-for-report {
    margin-left: 50px;
    width: 1000px;
}

.table-for-report .cell-name,
.table-for-report .cell-value {
    padding:3px;
    line-height: 16px;
    height: 22px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.table-for-report .cell-name {
    width: 80%;
}

.table-for-report-body .cell-name {
    background-color: #DECDCC!important;
}

.table-for-report-body .cell-value {
    background-color: #EFE8E7!important;
}

.table-for-report .cell-value {
    width: 20%;
    text-align: center;
}

.table-for-report .table-for-report-footer .cell-value,
.table-for-report .table-for-report-footer .cell-name {
    width: 50%;
}

.table-for-report-header .cell-name,
.table-for-report-header .cell-value,
.table-for-report-footer .cell-name,
.table-for-report-footer .cell-value,
.cssHeaderRow .cssHeaderCell, 
.total-row .cssTableRow:last-child .cssTableCell,
.total-row .cssOddTableRow:last-child .cssTableCell {
    background-color: #9B2D1F!important;
    color: white!important;
    -webkit-print-color-adjust: exact;
}

.cssTableRow {
    background-color: #DECDCC!important;
}

.cssOddTableRow {
    background-color: #EFE8E7!important;
}

.page {
    height: 846px;
    width: 1200px;
    margin-top: 30px;
    background-color: #ffffff!important;
    box-shadow: 5px 5px 5px #000000;
}

.table-for-report h6,
.group-chart h6 {
    text-align: right;
    font-size: 17px;
    color:#9a0505!important;
}

.table-for-report h3,
.group-chart h3 {
    margin-top: 50px;
}

div.google-visualization-tooltip {
    background-color: transparent!important;
    position: static!important;
    z-index:0;
}

div.google-visualization-tooltip > ul > li > span {
    color: green!important;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.page h3 {
    font-size: 36px;
}

.page h3, .page h1 {
    margin-left: 50px;
}

.page h3, .page h1, .page h4,
.contacts p, .contacts h5 {
    color: #9a0505!important;
}

.page h1 {
    margin-top: 323px;
    font-weight: bold;
}

.table-for-report h3{
    margin-left: 0;
}

.first-page > img {
    margin-top: -350px
}

.first-page-title {
    width: 400px;
    height: 350px;
    padding-top: 50px;
    float: right;
    position: relative;
}

.first-page-title-fb,
.first-page-title-sb  {
    height: 150px;
}

.first-page-title-fb {
    background-color: #ffffff!important;
}

.first-page-title-sb {
   background-color: #663B22!important; 
   padding-top: 20px;
   padding-left: 10px;
}

.first-page-title-sb p {
    color: #ffffff!important;
    line-height: 36px;
    font-size: 30px;
}

.loadingchart {
    width: 1200px;
    height: 842px;
    background: center center url(images/loading.gif) no-repeat #ffffff;
    opacity: 0.7;
    position: absolute;
    z-index: 999;
}

.left-logo {
    width: 130px;
    height: 80px;
    background-color: #ffffff!important;
    margin-top: 80px;
    margin-left: -130px;
    padding-left: 2px;
    padding-top: 10px;
}

.left-logo p {
    margin-left: 2px;
    width: 80px;
    color: #663B22!important;
    font-weight: bold;
}

.left-logo img {
    margin-top: 4px;
}

.contacts h4,
.contacts .address {
    margin-left: 50px;    
}

.contacts h4 {
    margin-top: 50px;
    font-weight: bold;
}

.contacts .address {
    margin-top: 30px;    
}

.contacts h5 {
    font-weight: bold;
}

@page {
    size: 21cm 29.7cm landscape;
    margin: 0;
 }

@media print {
    .page {
        margin-top: 0;
    }

    .group-chart h6 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}