﻿/*start main*/
body {
   background-color: #e5e5e5;
   color: #000000;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 13px;
}

.btn-primary, .btn-primary:hover, 
.btn-primary:focus, .btn-primary:active,
.btn-primary:active:hover, 
.btn-primary.active:hover, 
.open > .dropdown-toggle.btn-primary:hover, 
.btn-primary:active:focus, .btn-primary.active:focus, 
.open > .dropdown-toggle.btn-primary:focus, 
.btn-primary:active.focus, .btn-primary.active.focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled.focus, 
.btn-primary[disabled].focus, 
fieldset[disabled] .btn-primary.focus { 
    background-color: #663B22;
    border-color: #000000;
}

main {
    margin-top: -100px;
    position: relative;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.form-inline input,
.form-inline select, 
.form-inline label,
.form-inline .multiselect-native-select {
    margin-right: 7px;
}

input.form-control,
select.form-control,
button.btn,
.form-control.label-textbox {
    height: 27px;
    padding: 3px 6px;
}

.form-group > label {
    margin-top: 3px;
}

main, header, footer {
    width: 100%;
    min-width: 1200px;
    height: auto;
}

.static-container {
    width: 1200px;
}

.main-container {
     height: auto;
     padding-top: 10px;
     padding-bottom: 20px;
}

.main-container {
    background-color: #ffffff;
    border: #c2c2c2 solid 1px;
}

.loading{
    background: center center url(images/loading.gif) no-repeat #e5e5e5;
    opacity: 0.9;
    height: 100px;
}

footer {
    font-size: 12px;
    line-height: 13px;
}

footer .info li {
    margin-top: 2px;
}

footer .info li > a {
    text-decoration: underline;
    text-transform: none;
    color: #000000;
}

footer .info li.logo_footer {
    width: 120px;
    height: 36px;
    padding-left: 35px;
    background: 0 0 url(images/logo_footer.png) no-repeat;
    margin: 7px 0;
}

.invested-block h4 {
    font-size: 16px;
}

.dt-center {
    text-align: center;
    vertical-align: top;
}

.error {
    color: red;
}

form textarea.form-control {
    height: 150px;
    resize: none;
}

/*end main*/

/*start statistics*/
#statisticsTable .not-completed-data {
    background-color: #ff2727;
    color: #ffffff;
}

/*end statistics*/

/*start index*/
.right-main-block {
    border-left: 2px solid #dddddd;
}

.index-about-block {
    height: 243px;
    background: 0 0 url(images/line_about.png) no-repeat;
    padding-left: 40px;
    margin-top: 25px;
}

.index-about-block h3 {
    line-height: 30px;
    margin-top: 10px;
}

.index-about-block ul li {
    font-size: 16px;
    margin-top: 16px;
}

#validationContent {
    font-weight: bold;
    text-align:center;
    margin-top: 5px;
    padding-top: 3px;
    border-bottom: 2px solid #dddddd;
    display: none;
}
/*end index*/

/*start InfoGraphics*/
.info-graphics {
    background: 0 0  url(images/info_graphics_background.png) no-repeat;
    width: 700px;
    height: 256px;
    margin-right: 5px;
}

.info-graphics table{
    width: 100%;
}

.info-graphics table thead th {
    padding-top: 45px;
    height: 60px;
    line-height: 35px;
    font-weight: normal;
}

.info-graphics table td {
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    line-height:24px;
}

.info-graphics table thead th div {
    margin-top: 30px;
    text-align: center;
    width: 100%
}

.info-graphics table tbody td > div {
    padding-right: 8px;
    width: 100%
}

.info-graphics table thead th.count {
    color: #ffffff;
}

.info-graphics table thead th.sum {
    color: #efe268;
}

.info-graphics table colgroup col.second_column,
.info-graphics table colgroup col.eighth_column {
    width: 30px;
}

.info-graphics table colgroup col.eleventh_column {
    width: 26px;
}

.info-graphics table colgroup col.third_column,
.info-graphics table colgroup col.sixth_column,
.info-graphics table colgroup col.nineth_column,
.info-graphics table colgroup col.twelfth_column {
    width: 70px;
}

.info-graphics table colgroup col.fourth_column {
    width: 10px;
}

.info-graphics table colgroup col.fifth_column {
    width: 40px;
}

.info-graphics table colgroup col.first_column {
    width: 43px;
}

.info-graphics table colgroup col.seventh_column {
    width: 180px;
}

.info-graphics table colgroup col.tenth_column {
    width: 34px;
}

.info-graphics table colgroup col.thirteenth_column {
    width: 32px;
}

.info-graphics table tbody tr td img {
    border-radius: 15px;
}

.info-graphics th.date-info {
    padding-top: 0;
}

.info-graphics .date-info div {
    position: relative;
    margin-top: 63px;
    padding-left: 33px;
    padding-right: 44px;
}

.info-graphics .date-info div p {
    text-align: center;
    height: auto;
    line-height: 14px;
    color: #782331;
    font-size: 18px;
    font-weight: bold
}

.info-graphics .info {
    padding-left: 19px;
    padding-right: 35px
}

.info-graphics .info p {
    color: #782331;
}

.info-graphics .info p.top {
    font-size: 20px;
    margin: 40px 0 0 0;
    line-height: 20px;
}

.info-graphics .info p.count {
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    padding-right: 1px;
}

.info-graphics-about {
    text-align: center;
    margin-top: 5px 0 10px 0;
    width: 700px;
}

.info-graphics-about > img{
    margin-right: 5px;
}
/*end InfoGraphics*/

/*start InfoGraphics description*/
.tic-description {
    list-style-image: url(images/tic.jpg);  
}

.hotel-description {
    list-style-image: url(images/hotel.jpg);  
}

.airport-description {
    list-style-image: url(images/airport.jpg);  
}

.hostel-description {
    list-style-image: url(images/hostel.jpg);  
}

.infoGraphics-description {
    margin-right: -5px;
    margin-top: 67px;
}

.infoGraphics-description li {
    height: 44px;
    width: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infoGraphics-description li span {
    position: relative;
    top: -18px;
}

.infoGraphics-description li:first-child span {
    position: relative;
    top: -36px;
}
/*end InfoGraphics description*/

/*start manage InfoGraphics*/

#infoGraphics-first-block {
   margin-bottom: 30px;
}

#infoGraphics-first-block,
#infoGraphics-second-block {
   margin-top: 5px;
}

.loading-infoGraphics {
   width: 700px;
   height: 256px;
   background: center center url(images/loading.gif) no-repeat;
   opacity: 0.9;
}

/*end manage InfoGraphics*/

/*start nav*/
.main-container .navbar {
     background-color: #663B22;
     color: #ffffff;
     border-width: 2px;
}

.main-container .navbar ul li a {
     color: #ffffff;
     font-size: 14px;
}
.main-container .nav > li > a:hover,
.main-container .nav > li > a:focus {
    background-color: transparent;
    text-decoration: underline;
}

.main-container .nav > li > a.active {
    background-color: #ffffff;
    color: #000000;
}
/*end nav*/

/*start header*/
header {
    width: 100%;
    height: 200px;
    background-color: #663B22;
}

.logo {
    display: block;
}

.logo-second {
    width: 76px;
    height: 60px;
    margin-top: 20px;
    background : 0 0 url("images/logo2.png");    
    margin-left: 40px;
}

.logo-first {
    height: 57px;
    width: 108px;
    margin-top: 23px;
    background : 0 0 url("images/logo.png") no-repeat;
}

.logo-first > p {
    width: 60px;
    color: #ffffff;
    font-size: 14px;
    margin-top: -3px;
}

.logo-second:hover {
    background-position-x: 154px;
}

.navbar-help {
    height: 60px;
    margin-top: 20px;
}

.navbar-help {
    width: 500px;
}

.navbar-help .nav > li > a {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: underline;
}

.navbar-help .nav > li > a:hover, 
.navbar-help .nav > li > a:focus {
    background-color: transparent;
}

.user-name {
    color: #fae17e;
    padding-right: 15px;
    font-weight: bold;
}
/*end header*/

/*start review of data*/
.review-of-data-second-block {
    padding-bottom: 20px;
    padding-top: 20px;
}

#tableFirstGroup h4, #tableSecondGroup h4 {
    text-align: center; 
    margin-bottom: -23px;   
}

#countryGroup .btn-group ul {
    width: 602px;
}

#countryGroup .btn-group ul li{
    width: 150px;
    float: left;
}

#ReviewOfDataFilterForm .form-group,
#ReviewOfDataFilterForm #filterTable {
    margin-top: 10px;
}

#ReviewOfDataFilterForm input[type="checkbox"] {
    margin-top: 5px;
}

#tableFirstGroup .dataTables_scrollFootInner, 
#tableSecondGroup .dataTables_scrollFootInner {
    box-sizing: content-box;
}

#tableFirstGroup .table-striped > tbody > tr:nth-of-type(even),
#tableSecondGroup .table-striped > tbody > tr:nth-of-type(even) {
	background-color: #ffffff;
}
/*end review of data*/
/*strart comments*/
.comments {
	height: 500px;
}

.comments ul {
    height: 470px;
    overflow-y: auto;
    padding-right: 10px;
}

.comments ul li {
    text-align: justify;
    overflow-x: auto;
}

.comments ul li.text-center {
    text-align: center;
}

.comments .form-control {
    width: auto;
    display: inline-block;
}

.comments h4 {
    text-align: center;
}

#EditCommentForm textarea {
    height: 150px;
    resize: none;
}
/*end comments*/

/*start benchmarking*/
.benchmarking-description {
    text-align: justify;
}

.benchmarking-description hr {
   border-top: 1px solid #000000;
}

.filter-block-first-row {
    margin-top: 8px;
}

.filter-block-second-row {
    margin-top: 13px;
}

.form-inline .filter-block-first-row  input,
.form-inline .filter-block-first-row select, 
.form-inline .filter-block-first-row label,
.form-inline .filter-block-first-row .multiselect-native-select {
    margin-right: 12px;
}

.form-inline .filter-block-second-row input,
.form-inline .filter-block-second-row select
{
    margin-left: 10px;
}

.form-inline .filter-block-second-row input[type="checkbox"]
{
    margin-right: 10px;
}

.loadingchart {
    width: 700px;
    height: 450px;
    background: center center url(images/loading.gif) no-repeat #ffffff;
    opacity: 0.7;
    position: absolute;
    z-index: 999;
    display: none;
}

#chart_div {
    margin-top: 25px;
}

.form-inline .filter-block-second-row input[type='checkbox'] {
    margin-top: 7px;
}
/*end benchmarking*/

/*start feedback*/

/*end feedback*/

/*start insert data*/

.period-block {
    width: 74px;
    margin-right: 14px;
    margin-bottom: 14px; 
    background-color: #663B22;
    cursor: pointer;
}

.period-block:hover {
    box-shadow: 5px 5px 5px #555555;
}

.period-block-property {
    color: #fae17e;
    text-align: center;
}

p.period-block-property {
    line-height: 9px; 
}

h6.period-block-property {
    line-height: 14px; 
    color: #ffffff;
}

.period-block-name {
    font-weight: bold;
}

.period-block, .year-block {
    width: 74px; 
    height: 74px;
    }

.year-block {
     margin-left: 14px;
     margin-bottom: 14px; 
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    text-align: center;
    font-size: 17px;
    }

.insertData-block-group {
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
}

.insertData-block-group > input[type="text"] {
    width: 70px; 
    float: right;
    margin-right: 15px;
}

.insertData-block {
    margin-top: 20px;
}

.insertData-block > .form-group > textarea {
    height: 200px;
    resize: none;
}

.insertData-block > .form-group > textarea,
.insertData-block > .form-group > button {
    width: 300px;
}

.insertData-block > .form-group > button {
    margin-top: 10px;
    height: 30px;
}

.period-block-active {
     width: 88px;
     height: 88px;
     position: relative;
     margin-left: -7px;
     margin-top: -7px;
     margin-right: 7px;
     margin-bottom: 7px;
     background-color: lightGoldenrodYellow;
     border: 2px solid #663B22;
}

.period-block-active:hover {
    box-shadow: none;
}

.period-block-active .period-block-name,
.period-block-active .period-block-property {
    color: #000000;
}

.loading-insertData {
   width: 100%;
   height: 256px;
   background: center center url(images/loading.gif) no-repeat;
   opacity: 0.9;
}

#loadingDuringRegister,
#loadingDuringSaveUserInformation,
#loadingDuringParseXSLS,
#loading-during-saving {
    width: 100%;
    height: 100%;
    background: center center url(images/loading.gif) no-repeat #ffffff;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.insertData-block-group > h6 {
    width: 70px;
    float: right;
    margin-right: 15px;
    text-align: center;
}

.insert-data-comments-label {
    font-size: 13px;
    font-weight: bold;
}
/*end insert data*/

/*start change password*/

.loading-change-password {
    background: center center url(images/loading.gif) no-repeat #ffffff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 999;
}

/*end change password*/

/*start register*/
#RegisterForm .multiselect-container {
    width: 100% !important;
}
/*end register*/

/*start report*/
.ticData-import-log-visible {
    display: none;
}

.upload-tic-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500px;
    overflow: hidden;
}

.upload-tic-control .file-info
{
    width: 355px;
    overflow: hidden;
    margin-left: 10px;
    line-height: 24px;
}

#importTICData #FileUpload1 {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
}

#importTICData #btnUpload {
    margin-left: 15px;
}

#createTICDataReport #createIndividualTICReport #analyticsReport {
    margin-left: 15px;
}

#reportProcessing h5,
#reviewOfDataReport h5 {
    border-bottom: 1px solid #cccccc; 
    margin: 15px 0;
}

.margin-left {
    margin-left: 10px;
}

/*end report*/