﻿@using barometer.Models.ViewModel
@model LoginViewModel

<div class="row">
    <div class="col-sm-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="loginAuteficationForm" }))
            {
                @Html.AntiForgeryToken()
                <p class="text-danger col-md-12" id="validationContent"></p>
                <div class="form-group">
                    <label class="col-md-4 control-label" >Логін<span class='error'> *</span>:</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control", maxlength="30" })
                        @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Пароль<span class='error'> *</span>:</label>
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", maxlength = "15" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button id="loginButton" class="btn btn-primary col-md-12">Увійти</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                @*<p> TODO: implement 
                    @Html.ActionLink("Реєстрація", "Register")
                </p>
                <p>
                    @Html.ActionLink("Забули пароль?", "ForgotPassword")
               </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}