﻿@using barometer.Models.ViewModel
@model BenchmarkingViewModel

@{
    ViewBag.Title = "Benchmarking - barometer.lviv.ua";
}

<h4>Рівень заселеності</h4>
<div class="col-sm-12 no-padding benchmarking-description">
    <p>Тут Ви можете переглянути рівень заселеності** Вашого закладу у порівнянні з іншими закладами на ринку (зокрема, з максимальним, мінімальним та середнім значеннями у розрізі місяців).</p>
    <p>Програма автоматично порівнює дані Вашого закладу із аналогічними закладами на основі тих критеріїв, які були задані Вами при реєстрації, а саме:</p>
    <ul>
        <li>типу закладу (готель чи хостел)</li>
        <li>його зірковості</li>
        <li>кількості номерів</li>
        <li>та розміщення</li>
    </ul>
    <p>Ви можете також порівняти свій заклад розміщення із закладами з іншим номерним фондом та іншого типу.</p>
    <hr/>
    <p>* порівняльний аналіз показників діяльності підприємств з аналогічними характеристиками підприємств-конкурентів.</p>
    <p>Для Готелів / Хостелів:</p>
    <p>**Рівень заселеності = к-сть ліжко-ночей (за місяць)/ к-ть спальних місць*к-ть днів у місяці</p>
</div>

<div class=" col-sm-12 review-of-data-second-block no-padding">
    <div class="col-sm-8 no-padding">
        <div class="col-sm-12 filter-block no-padding" >
            <form id="BenchmarkingFilterForm" class="form-inline col-sm-12 no-padding">
                @if (User.IsInRole("Hostel"))
                {
                    @Html.Hidden("BenchmarkingTitleFirst", "Ваша завантаженість")
                    @Html.Hidden("BenchmarkingTitleSecond", "Хостели")
                }
                else if (User.IsInRole("Hotel"))
                {
                    @Html.Hidden("BenchmarkingTitleFirst", "Ваша завантаженість")
                    @Html.Hidden("BenchmarkingTitleSecond", "Готелі")
                }
                else
                {
                    @Html.Hidden("BenchmarkingTitleFirst", "Готелі")
                    @Html.Hidden("BenchmarkingTitleSecond", "Хостели")
                }

                @Html.Hidden("IsUserHostelorHotel", (User.IsInRole("Hostel") || User.IsInRole("Hotel")))
                <div class="col-sm-12 inline-wrapper no-padding">
                    @if (!User.IsInRole("Hostel")) 
                    { 
                        <div class="filter-block-first-row no-padding">
                            <div class="form-group no-padding">
                                @Html.Label("Період з:", new { @class = "pull-left" })
                                @Html.DropDownListFor(x => x.PeriodFirst, Model.Periods, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Період по:", new { @class = "pull-left" })
                                @Html.DropDownListFor(x => x.PeriodSecond, Model.Periods, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Номерний фонд:", new { @class = "pull-left" })
                                @Html.ListBoxFor(x => x.NumberOfRoom, Model.NumberOfRooms, new { @class = "form-control", multiple = "multiple" })
                            </div>
                        </div>
                        <div class="filter-block-second-row no-padding">
                            <div class="form-group">
                                @Html.Label("Розташування:", new { @class = "pull-left" })
                                @Html.ListBoxFor(x => x.Distance, Model.Distances, new { @class = "form-control", multiple = "multiple" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Зірковість:", new { @class = "pull-left" })
                                @Html.ListBoxFor(x => x.Star, Model.Stars, new { @class = "form-control", multiple = "multiple" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Конференц-готель:", new { @class = "pull-left" })
                                @Html.CheckBoxFor(x => x.IsConferenceHall)
                            </div>
                            <button type="button" class="btn btn-primary glyphicon glyphicon-ok" id="filterChart"></button>
                        </div>
                    }
                    else
                    {
                        <div class="filter-block-first-row no-padding">
                            <div class="form-group no-padding">
                                @Html.Label("Період з:", new { @class = "pull-left" })
                                @Html.DropDownListFor(x => x.PeriodFirst, Model.Periods, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Період по:", new { @class = "pull-left" })
                                @Html.DropDownListFor(x => x.PeriodSecond, Model.Periods, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Розташування:", new { @class = "pull-left" })
                                @Html.ListBoxFor(x => x.Distance, Model.Distances, new { @class = "form-control", multiple = "multiple" })
                            </div>
                            <button type="button" class="btn btn-primary glyphicon glyphicon-ok" id="filterChart"></button>
                        </div>
                    }
                </div>
            </form>
        </div>  
        <div class="col-sm-12">
            <div>
                <div id="loadingchart" class="loadingchart"></div>
                    <div id="chart_div"></div>
                </div>
        </div>
    </div>
    <div class="col-sm-4 comments invested-block">
        <h4><span>Коментарі за </span>@Html.DropDownListFor(x => x.PeriodForComments, Model.Periods, new { @class = "form-control" })</h4>
        <div class="clearfix"></div>
        <ul id="comments" class="list-group"></ul>
    </div>
</div>
<div class="clearfix"></div>

@section Scripts {
    @Scripts.Render("~/bundles/benchmarking")
}





