﻿@using barometer.Models.ViewModel
@model FeedbackViewModel
@{
    ViewBag.Title = "Зворотній зв'язок - barometer.lviv.ua";
}

<h4>Зворотній зв'язок</h4>
<p>Якщо у Вас є запити чи пропозиції, просимо надіслати їх нам, заповнивши наступну форму:</p>
<form id="FeedbackForm" class="form-horizontal col-sm-6 col-sm-offset-3" enctype="multipart/form-data">
    <div class="form-group">
        <label class="col-sm-3">Ваше ім'я<span class='error'> *</span>:</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Ваш Е-мейл <span class='error'> *</span>:</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Ваш тел. <span class='error'> *</span>:</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Telephone, new { @class = "form-control", onkeypress = "return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 13 || event.charCode == 8", maxlength = "15" })
            @Html.ValidationMessageFor(x => x.Telephone, null, new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Повідомлення <span class='error'> *</span>:</label>
        <div class="col-sm-9">
            @Html.TextAreaFor(x => x.Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Text, null, new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Прикріпити файл:</label>
        <div class="col-sm-9">
            <input type="file" id="FileUpload" name="FileUpload" accept="image/jpeg,image/png" />
            <p>Розмір файла не повинен перевищувати 10 МБ<p/>
        </div>
    </div>
    <button type="button" id="sentFeedback" class="btn btn-primary pull-right">Надіслати</button>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/feedback")
}

