﻿@using barometer.Models.ViewModel
@model HomeIndexViewModel
@{
    ViewBag.Title = "Головна - barometer.lviv.ua";
}

<div class="col-sm-3 left-main-block pull-left">
    <div class="col-sm-12 no-padding-left">
        @Html.Partial("~/Views/Account/Partial/_Login.cshtml", new LoginViewModel())
    </div>
</div>
<div class="col-sm-9 right-main-block">
    <h3>Про проект</h3>
    <div class="col-sm-11 no-padding-left">
        @Html.Partial("_InfoGraphics", Model.InfoGraphicViewModel)
    </div>
    <ul class="infoGraphics-description col-sm-1 no-padding pull-right">
        <li class="tic-description"><span>Центр туристичної інформації</span></li>
        <li class="hotel-description"><span>Готель</span></li>
        <li class="airport-description"><span>Аеропорт</span></li>
        <li class="hostel-description"><span>Хостел</span></li>
    </ul>
    <div class="col-sm-12 index-about-block">
        <h3>Львівський туристичний барометр</h3>
        <ul class="list-unstyled">
            <li>он-лайн система анонімного збору актуальної інформації щоло динаміки туристичних потоків у місті</li>
            <li>якісна інформація про стан туристичного ринку м.Львова</li>
            <li>правдиві якісні та кількісні показники учасників проекту</li>
            <li>можливість формувати особливі пропозиції для гостей з певної країни та в певний період</li>
            <li>можливість бачити власну позицію на ринку туристичних послуг міста</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
@section Scripts {
    @Scripts.Render("~/bundles/index")
}
