﻿@using barometer.Models.ViewModel
@model  ManageInfoGraphicsViewModel
@{
    ViewBag.Title = "Інфографіка - barometer.lviv.ua";
}

<h4>Інфографіка</h4>

<div id="changePeriodInfoGraphicsFirst" class="form-inline col-sm-12 no-padding">
    <div class="col-sm-12 inline-wrapper no-padding">
        <div class="form-group no-padding">
            @Html.Label("Період:", new { @class = "pull-left" })
            @Html.DropDownListFor(m=>m.PeriodFirst, Model.Periods, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="infoGraphics-first-block">
    <div class="loading-infoGraphics"></div>
</div>

<div id="changePeriodInfoGraphicsSecond" class="form-inline col-sm-12 no-padding">
    <div class="col-sm-12 inline-wrapper no-padding">
        <div class="form-group no-padding">
            @Html.Label("Період:", new { @class = "pull-left" })
            @Html.DropDownListFor(m=>m.PeriodSecond, Model.Periods, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="infoGraphics-second-block">
    <div class="loading-infoGraphics"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/infoGraphics")
}
