﻿@using barometer.Models.ViewModel
@using barometer.Models.Enums
@using barometer.Extensions
@model InsertDataViewModel
@{
    ViewBag.Title = "Введення даних - barometer.lviv.ua";
}

@section Scripts {
    @Scripts.Render("~/bundles/insertData")
}

<div id="loading-during-saving"></div>
<div class="periods-block">
    @foreach (var year in Model.Periods.Item1.OrderByDescending(x => x))
    {
        <div class="pull-left year-block">@year</div>
        foreach (var item in Model.Periods.Item2.Where(x => x.StartDate.Year == year))
        {
            <div data-period-id="@item.Id" class="pull-left period-block @(Model.PeriodDateDefault.Month == item.StartDate.Month && Model.PeriodDateDefault.Year == item.StartDate.Year ? "period-block-active" : "")">
                <h6 class="period-block-property period-block-name">@(((Months)item.StartDate.Month).GetDisplayName())</h6>
                <p class="period-block-property">туристів</p>
                <p class="period-block-property period-block-count">@item.CountTourists</p>
            </div>
        }
        <div class="clearfix"></div>
    }
</div>

<div id="insertDataPartial" class="insertData-block"></div>
<div class="clearfix"></div>