﻿@using barometer.Models.ViewModel
@model ReviewOfDataViewModel
@{
    ViewBag.Title = "Огляд даних - barometer.lviv.ua";
}

<h4>Огляд даних</h4>

<form id="ReviewOfDataFilterForm" class="form-inline col-sm-12 no-padding">
    <div class="col-sm-12 inline-wrapper no-padding">
        <div class="form-group no-padding">
            @Html.Label("Період з:", new { @class = "pull-left" })
            @Html.DropDownListFor(x => x.PeriodFirst, Model.Periods, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Період по:", new { @class = "pull-left" })
            @Html.DropDownListFor(x => x.PeriodSecond, Model.Periods, new { @class = "form-control" })
        </div>
        <div class="form-group" id="countryGroup">
            @Html.Label("Країни:", new { @class = "pull-left" })
            @Html.ListBoxFor(x => x.Country, Model.Countries, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Тип:", new { @class = "pull-left" })
            @Html.DropDownListFor(x => x.UserType, Model.UserTypes, new { @class = "form-control" })
        </div>
        <div class="form-group" id="StarBlock">
            @Html.Label("Зірковість:", new { @class = "pull-left" })
            @Html.ListBoxFor(x => x.Star, Model.Stars, new { @class = "form-control", multiple = "multiple" })
        </div>
        <div class="form-group" id="NumberOfRoomsBlock">
            @Html.Label("Номерний фонд:", new { @class = "pull-left" })
            @Html.ListBoxFor(x => x.NumberOfRoom, Model.NumberOfRooms, new { @class = "form-control", multiple = "multiple" })
        </div>
        <div class="form-group" id="IsConferenceHallBlock">
            @Html.Label("Конференц-готель:", new { @class = "pull-left" })
            @Html.CheckBoxFor(x => x.IsConferenceHall)
        </div>
        <div class="form-group" id="DistanceBlock">
            @Html.Label("Розташування:", new { @class = "pull-left" })
            @Html.ListBoxFor(x => x.Distance, Model.Distances, new { @class = "form-control", multiple = "multiple" })
        </div>
        <button type="button" class="btn btn-primary glyphicon glyphicon-ok" id="filterTable"></button>
    </div>
</form>
<div class="col-sm-12 review-of-data-second-block no-padding">
    <div class="col-sm-8">
        <div class="col-sm-12">
            <div>
                <div id="loadingchart" class="loadingchart"></div>
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 comments invested-block">
        <h4><span>Коментарі за </span>@Html.DropDownListFor(x => x.PeriodForComments, Model.Periods, new { @class = "form-control" })</h4>
        <div class="clearfix"></div>
        <ul id="comments" class="list-group"></ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="tableFirstGroup">
    <h4></h4>
    <table id="reviewOfDataTableFirst" class="table table-striped table-bordered nowrap" cellspacing="0">
        <thead>
            <tr></tr>
        </thead>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>
<div id="tableSecondGroup">
    <h4></h4>
    <table id="reviewOfDataTableSecond" class="table table-striped table-bordered nowrap" cellspacing="0">
        <thead>
            <tr></tr>
        </thead>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>
<div class="clearfix"></div>
@if (User.IsInRole("Operator"))
{
    <form id="reviewOfDataReport" class="form-inline col-sm-12 no-padding">
        <h5>Сформувати звіт</h5>
        <div class="col-sm-12 inline-wrapper no-padding">
            <div class="form-group no-padding">
                @Html.Label("Рік:", new { @class = "pull-left" })
                @Html.DropDownListFor(x => x.ReportYear, Model.ReportYears, new { @class = "form-control not-hidden" })
            </div>
            <button type="button" class="btn btn-primary not-hidden" id="createReport">Звіт</button>
        </div>
        <div class="clearfix"></div>
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/reviewOfData")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}


