﻿@using barometer.Models.ViewModel
@model EditCommentViewModel
<div class="modal fade" id="EditComment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@(Model.Id > 0 ? "Редагувати коментар" : "Додати коментар")</h4>
            </div>
            <div class="modal-body">
              <form id="EditCommentForm" class="form-horizontal col-sm-12 no-padding">
                <div class="col-sm-12 no-padding">
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group no-padding">
                        @Html.Label("Назва:", new { @class = "label-control col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", disabled="disabled" })
                        </div>
                    </div>
                    <div class="form-group no-padding">
                        @Html.Label("Тип:", new { @class = "label-control col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Type, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group no-padding">
                            @if (Model.Id != 0)
                            {
                                <label class="label-control col-sm-3">Період:</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(x => x.PeriodId, Model.Periods, new { @class = "form-control", disabled = "disabled" })
                                </div>
                            }
                            else
                            {
                                <label class="label-control col-sm-3">Період <span class='error'> *</span>:</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(x => x.PeriodId, Model.Periods, new { @class = "form-control" })
                                </div>
                            }
                    </div>
                    <div class="form-group">
                        <label class="label-control col-sm-3">Текст <span class='error'> *</span>:</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(x => x.Text, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Text, null, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group no-padding">
                        @Html.Label("Створенний:", new { @class = "label-control col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.CreatedDate, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group no-padding">
                        @Html.Label("Остання зміна:", new { @class = "label-control col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.ChangedDate, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                </div>
              </form>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" id="saveComment" class="btn btn-primary">Зберегти</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
