﻿@*@using barometer.Models.ViewModel
@model FeedbackViewModel*@
@{
    ViewBag.Title = "Відвідини - barometer.lviv.ua";
}

<section id="reportProcessing">
<h4 class="">Відвідини</h4>
<div id="loadingDuringParseXSLS"></div>
<h5>Імпорт звіту</h5>
<form id="importTICData">
    <div class="col-sm-12 no-padding-left">
        <div class="form-group">
            <div class="pull-left upload-tic-control">
                <button class='btn btn-primary pull-left' href='javascript:void(0)'>
                    Виберіть файл...
                    <input type="file" id="FileUpload1" size="40" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onchange='$("#upload-file-info").html($(this).val());'>
                </button>
                &nbsp;
                <div class="file-info pull-left">
                    <span class='label label-info' id="upload-file-info"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <button type="button" id="btnUpload" class="btn btn-primary pull-left">Імпортувати</button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
<h5>Створення звіту</h5>
<form id="createTICDataReport">
    <div class='col-sm-3 no-padding'>
        <div class="form-group">
            <div class='input-group date' id='dateFrom'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-sm-3'>
        <div class="form-group">
            <div class='input-group date' id='dateTo'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-sm-6 no-padding-left'>
        <button type="button" class="btn btn-primary pull-left" id="createTICReport">Загальний звіт</button>
        <button type="button" class="btn btn-primary pull-left margin-left" id="createIndividualTICReport">Індивідуальний звіт</button>
        <button type="button" class="btn btn-primary pull-left margin-left" id="analyticsReport">Аналітичний звіт</button>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <h6>*** Оберіть дати в межах одного року!</h6>
</form>
<h5 class="ticData-import-log-visible">Історія імпорту</h5>
<div id="ticDataImportLog" class="ticData-import-log-visible">

</div>
</section>
@section Scripts {
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")
    @Scripts.Render("~/bundles/ticData")
}

