﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Звіт - Barometer Lviv</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/report")
</head>
<body>
    @Html.Hidden("fromDate", (string)ViewBag.fromDate)
    @Html.Hidden("toDate", (string)ViewBag.toDate)
    @Html.Hidden("Image", (string)ViewBag.Image)
    @Html.Hidden("ReportLogo", (string)ViewBag.ReportLogo)
    @Html.Hidden("UserId", (string)ViewBag.UserId)
    <main id="ReportBlock" class="page">
        @{
            var name = string.Empty;
            switch (User.Identity.Name)
            {
                case "TIC Center":
                    name = "ЦТІ - Центр";
                    break;
                case "TIC Airport":
                    name = "ЦТІ - Аеропорт";
                    break;
                case "TIC Railway Station":
                    name = "ЦТІ - Вокзал";
                    break;
            }
        }

        <div class="page first-page">
            <div class="first-page-title">
                <div class="first-page-title-fb">
                    <img src="@ViewBag.ReportHeaderLogo" width="400" height="150" alt="" />
                </div>
                <div class="first-page-title-sb">
                    <p>Статистика </br> відвідуваності ЦТІ:</p>
                    <p>@ViewBag.fromDate - @ViewBag.toDate</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <img src="@ViewBag.FirstPageImage" width="1200" height="847" alt="Титульна сторінка" />
        </div>
        <div class="clearfix"></div>
        <div id="page_country_@ViewBag.UserId" class="page">
            <div class="loadingchart"></div>
            <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
            <div class="left-logo pull-left">
                <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                <p class="pull-left">Центр туристичної інформації</p>
            </div>
            <div id="charts_block_country" class="group-chart pull-left">
                <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                <h3>Географія відвідувачів у @name</h3>
                <h3></h3>
                <div id="chartGeographyOfVisitorsCountry" class="left-chart pull-left"></div>
                <div id="tableGeographyOfVisitorsCountry" class="rigth-chart pull-left total-row"></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div id="page_comparison_country_@ViewBag.UserId" class="page">
            <div class="loadingchart"></div>
            <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
            <div class="left-logo pull-left">
                <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                <p class="pull-left">Центр туристичної інформації</p>
            </div>
            <div id="charts_block_comparison_country" class="group-chart pull-left">
                <h6>@ViewBag.fromDate - @ViewBag.toDate</h6>
                <h3>Динаміка зміни кількості звернень за головними цільовими ринками у @name</h3>
                <div id="chartComparisonOfVisitorsCountry" class="left-chart pull-left"></div>
                <div id="tableComparisonOfVisitorsCountry" class="rigth-chart pull-left total-row"></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div id="page_city_@ViewBag.UserId" class="page">
            <div class="loadingchart"></div>
            <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
            <div class="left-logo pull-left">
                <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                <p class="pull-left">Центр туристичної інформації</p>
            </div>
            <div id="charts_block_city" class="group-chart pull-left">
                <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                <h3>Географія відвідувачів з України у @name</h3>
                <div id="chartGeographyOfVisitorsCityAndRegion" class="left-chart pull-left"></div>
                <div id="tableGeographyOfVisitorsCityAndRegion" class="rigth-chart pull-left total-row"></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div id="page_comparison_CityAndRegion_@ViewBag.UserId" class="page">
            <div class="loadingchart"></div>
            <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
            <div class="left-logo pull-left">
                <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                <p class="pull-left">Центр туристичної інформації</p>
            </div>
            <div id="charts_block_comparison_CityAndRegion" class="group-chart pull-left">
                <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                <h3>Динаміка зміни кількості звернень за головними ринками України у @name</h3>
                <div id="chartComparisonOfVisitorsCityAndRegion" class="left-chart pull-left"></div>
                <div id="tableComparisonOfVisitorsCityAndRegion" class="rigth-chart pull-left total-row"></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div id="page_interests_@ViewBag.UserId" class="page">
            <div class="loadingchart"></div>
            <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
            <div class="left-logo pull-left">
                <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                <p class="pull-left">Центр туристичної інформації</p>
            </div>
            <div id="charts_block_interests" class="group-chart pull-left">
                <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                <h3>Тематика звернень у @name</h3>
                <div id="chartInterestsOfVisitors" class="left-chart pull-left"></div>
                <div id="tableInterestsOfVisitors" class="rigth-chart pull-left total-row"></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="page">
            <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
            <div class="left-logo pull-left">
                <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                <p class="pull-left">Центр туристичної інформації</p>
            </div>
            <div class="group-chart contacts pull-left">
                <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                <h3>Контакти</h3>
                <h4>Центр туристичної інформації</h4>
                <div class="address">
                    @switch (User.Identity.Name)
                    {
                        case "TIC Center":
                            <h5>ЦТІ - Центр (пл. Ринок, 1)</h5>
                            <p>Тел./факс: +38 032 254 60 79</p>
                            <p>E-mail: lviv.tic@gmail.com</p>
                            break;
                        case "TIC Airport":
                            <h5>ЦТІ - Аеропорт (вул. Любінська, 168)</h5>
                            <p>Тел.: +38 067 67 39 194</p>
                            <p>E-mail: lviv.tic3@gmail.com</p>
                            break;
                        case "TIC Railway Station":
                            <h5>ЦТІ - Вокзал (пл. Двірцева, 1)</h5>
                            <p>Тел.: +38 032 226 20 05</p>
                            <p>E-mail: lviv.tic2@gmail.com</p>
                            break;
                    }                    
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://www.gstatic.com/charts/loader.js")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/ticIndividualReport")
</body>
</html>