﻿@using Newtonsoft.Json;
@using barometer.Models.Business.Report;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Звіт по туристично інформаційних центрах - Barometer Lviv</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/report")
</head>
<body>
    @Html.Hidden("fromDate", (string)ViewBag.fromDate)
    @Html.Hidden("toDate", (string)ViewBag.toDate)
    @Html.Hidden("Users", JsonConvert.SerializeObject((List<ShortUserModel>)ViewBag.Users))
    @Html.Hidden("Image", (string)ViewBag.Image)
    @Html.Hidden("ReportLogo", (string)ViewBag.ReportLogo)
    <main id="ReportBlock" class="page">

        <div class="page first-page">
            <div class="first-page-title">
                <div class="first-page-title-fb">
                    <img src="@ViewBag.ReportHeaderLogo" width="400" height="150" alt="" />
                </div>
                <div class="first-page-title-sb">
                    <p>Статистика </br> відвідуваності ЦТІ:</p>
                    <p>@ViewBag.fromDate - @ViewBag.toDate</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <img src="@ViewBag.FirstPageImage" width="1200" height="847" alt="Титульна сторінка" />
        </div>

        <div id="page_country" class="page">
            <div class="loadingchart"></div>
            <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
            <div class="left-logo pull-left">
                <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                <p class="pull-left">Центр туристичної інформації</p>
            </div>
            <div id="charts_block_country" class="group-chart pull-left">
                <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                <h3>Географія відвідувачів у ЦТІ</h3>
                <div id="chartGeographyOfVisitorsCountry" class="left-chart pull-left"></div>
                <div id="tableGeographyOfVisitorsCountry" class="rigth-chart pull-left total-row"></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div id="page_city" class="page">
            <div class="loadingchart"></div>
            <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
            <div class="left-logo pull-left">
                <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                <p class="pull-left">Центр туристичної інформації</p>
            </div>
            <div id="charts_block_city" class="group-chart pull-left">
                <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                <h3>Географія відвідувачів з України у ЦТІ</h3>
                <div id="chartGeographyOfVisitorsCityAndRegion" class="left-chart pull-left"></div>
                <div id="tableGeographyOfVisitorsCityAndRegion" class="rigth-chart pull-left total-row"></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        @foreach (var item in ViewBag.Users)
        {
            var name = string.Empty;
            if (item.UserName == "TIC Center")
            {
                name = "ЦТІ - Центр";
                <div class="page">
                    <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
                    <div class="left-logo pull-left">
                        <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                        <p class="pull-left">Центр туристичної інформації</p>
                    </div>
                    <div class="group-chart pull-left">
                        <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                        <h1>@name <br> (пл. Ринок, 1)</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            }
            else if (item.UserName == "TIC Airport")
            {
                name = "ЦТІ - Аеропорт";
                <div class="page">
                    <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
                    <div class="left-logo pull-left">
                        <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                        <p class="pull-left">Центр туристичної інформації</p>
                    </div>
                    <div class="group-chart pull-left">
                        <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                        <h1>@name <br> (вул. Любінська, 168)</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            }
            else if (item.UserName == "TIC Railway Station")
            {
                name = "ЦТІ - Вокзал";
                <div class="page">
                    <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
                    <div class="left-logo pull-left">
                        <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                        <p class="pull-left">Центр туристичної інформації</p>
                    </div>
                    <div class="group-chart pull-left">
                        <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                        <h1>@name <br> (пл. Двірцева, 1)</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            }

            <div id="page_country_@item.UserId" class="page">
                <div class="loadingchart"></div>
                <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
                <div class="left-logo pull-left">
                    <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                    <p class="pull-left">Центр туристичної інформації</p>
                </div>
                <div id="charts_block_country_@item.UserId" class="group-chart pull-left">
                    <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                    <h3>Географія відвідувачів у @name</h3>
                    <h3></h3>
                    <div id="chartGeographyOfVisitorsCountry_@item.UserId" class="left-chart pull-left"></div>
                    <div id="tableGeographyOfVisitorsCountry_@item.UserId" class="rigth-chart pull-left total-row"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            <div id="page_comparison_country_@item.UserId" class="page">
                <div class="loadingchart"></div>
                <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
                <div class="left-logo pull-left">
                    <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                    <p class="pull-left">Центр туристичної інформації</p>
                </div>
                <div id="charts_block_comparison_country_@item.UserId" class="group-chart pull-left">
                    <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                    <h3>Динаміка зміни кількості звернень за головними цільовими ринками у @name</h3>
                    <div id="chartComparisonOfVisitorsCountry_@item.UserId" class="left-chart pull-left"></div>
                    <div id="tableComparisonOfVisitorsCountry_@item.UserId" class="rigth-chart pull-left total-row"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            <div id="page_city_@item.UserId" class="page">
                <div class="loadingchart"></div>
                <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
                <div class="left-logo pull-left">
                    <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                    <p class="pull-left">Центр туристичної інформації</p>
                </div>
                <div id="charts_block_city_@item.UserId" class="group-chart pull-left">
                    <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                    <h3>Географія відвідувачів з України у @name</h3>
                    <div id="chartGeographyOfVisitorsCityAndRegion_@item.UserId" class="left-chart pull-left"></div>
                    <div id="tableGeographyOfVisitorsCityAndRegion_@item.UserId" class="rigth-chart pull-left total-row"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            <div id="page_comparison_CityAndRegion_@item.UserId" class="page">
                <div class="loadingchart"></div>
                <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
                <div class="left-logo pull-left">
                    <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                    <p class="pull-left">Центр туристичної інформації</p>
                </div>
                <div id="charts_block_comparison_CityAndRegion_@item.UserId" class="group-chart pull-left">
                    <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                    <h3>Динаміка зміни кількості звернень за головними ринками України у @name</h3>
                    <div id="chartComparisonOfVisitorsCityAndRegion_@item.UserId" class="left-chart pull-left"></div>
                    <div id="tableComparisonOfVisitorsCityAndRegion_@item.UserId" class="rigth-chart pull-left total-row"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            <div id="page_interests_@item.UserId" class="page">
                <div class="loadingchart"></div>
                <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
                <div class="left-logo pull-left">
                    <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                    <p class="pull-left">Центр туристичної інформації</p>
                </div>
                <div id="charts_block_interests_@item.UserId" class="group-chart pull-left">
                    <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                    <h3>Тематика звернень у @name</h3>
                    <div id="chartInterestsOfVisitors_@item.UserId" class="left-chart pull-left"></div>
                    <div id="tableInterestsOfVisitors_@item.UserId" class="rigth-chart pull-left total-row"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        }

        <div class="page">
            <img src="@ViewBag.Image" width="140" height="847" alt="" class="pull-left" />
            <div class="left-logo pull-left">
                <img src="@ViewBag.ReportLogo" width="39" height="57" alt="" class="pull-left">
                <p class="pull-left">Центр туристичної інформації</p>
            </div>
            <div class="group-chart contacts pull-left">
                <h6>@ViewBag.fromDate - @ViewBag.toDate </h6>
                <h3>Контакти</h3>
                <h4>Центр туристичної інформації</h4>
                <div class="address">
                    <h5>ЦТІ - Центр (пл. Ринок, 1)</h5>
                    <p>Тел./факс: +38 032 254 60 79</p>
                    <p>E-mail: lviv.tic@gmail.com</p>
                </div>
                <div class="address">
                    <h5>ЦТІ - Аеропорт (вул. Любінська, 168)</h5>
                    <p>Тел.: +38 067 67 39 194</p>
                    <p>E-mail: lviv.tic3@gmail.com</p>
                </div>
                <div class="address">
                    <h5>ЦТІ - Вокзал (пл. Двірцева, 1)</h5>
                    <p>Тел.: +38 032 226 20 05</p>
                    <p>E-mail: lviv.tic2@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://www.gstatic.com/charts/loader.js")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/ticReport")
</body>
</html>