﻿@using barometer.Models.ViewModel
@model CommentsViewModel
@{
    ViewBag.Title = "Коментарі - barometer.lviv.ua";
}

<h4>Коментарі</h4>
<form id="ReviewOfDataFilterForm" class="form-inline col-sm-12 no-padding">
    <div class="col-sm-12 inline-wrapper no-padding">
        <div class="form-group no-padding">
            @Html.Label("Період з:", new { @class = "pull-left" })
            @Html.DropDownListFor(x => x.PeriodFirst, Model.Periods, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Період по:", new { @class = "pull-left" })
            @Html.DropDownListFor(x => x.PeriodSecond, Model.Periods, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="applyFilter">Примінити фільтр</button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-refresh" id="refreshTable"></button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-plus" id="addComment"></button>
        </div>
        <div class="form-group">
            @Html.Label("Тип:", new { @class = "pull-left" })
            @Html.DropDownList("typeFilter", Enumerable.Empty<SelectListItem>(), string.Empty, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Пошук:", new { @class = "pull-left" })
            @Html.TextBox("search", string.Empty, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary glyphicon glyphicon-remove" id="clearFilter"></button>
        </div>
     </div>
</form>
<table id="commentsTable" class=" table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Тип</th>
            <th>Текст</th>
            <th>Дата створення</th>
            <th>Дата остнього оновлення</th>
            <th>Період</th>
            <th></th>
        </tr>
    </thead>
</table>
<div id="CommentModalPlace"></div>
@section Scripts {
    @Scripts.Render("~/bundles/comments")
}
