﻿@model IEnumerable<SelectListItem>
@{
    ViewBag.Title = "Статистика - barometer.lviv.ua";
}

<h4>Статистика заповнення даними</h4>

    <div id="changePeriodsForStatistics" class="form-inline col-sm-12 no-padding">
    <div class="col-sm-12 inline-wrapper no-padding">
        <div class="form-group no-padding">
            @Html.Label("Період:", new { @class = "pull-left" })
            @Html.DropDownList("Period", Model, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Тип:", new { @class = "pull-left" })
            @Html.DropDownList("typeFilter", Enumerable.Empty<SelectListItem>(), string.Empty, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Пошук:", new { @class = "pull-left" })
            @Html.TextBox("search", string.Empty, new { @class = "form-control" })
        </div>
        <button type="button" class="btn btn-primary glyphicon glyphicon-refresh" id="refreshTable"></button>
        <button type="button" class="btn btn-primary glyphicon glyphicon-remove" id="clearFilter"></button>
    </div>
</div>
<div class="clearfix"></div>
<table id="statisticsTable" class=" table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th id="typeColumn">Тип</th>
            <th>Кількість зірок</th>
            <th>Найменування</th>
            <th>Віповідальна. особа</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Номерний фонд</th>
            <th>Кількість ліжкомісць</th>
            <th>Дата введення даних</th>
        </tr>
    </thead>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/statistics")
}

