﻿@model barometer.Models.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Зміна паролю - barometer.lviv.ua";
}
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingChangePassword" class="loading-change-password"></div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Зміна паролю</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "changePasswordForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.Label("Поточний пароль:", new { @class = "label-control col-sm-4" })
                            <div class="col-sm-8">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", maxlength = "15" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Новий пароль:", new { @class = "label-control col-sm-4" })
                            <div class="col-sm-8">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", maxlength = "15" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Повторіть новий пароль:", new { @class = "label-control col-sm-4" })
                            <div class="col-sm-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", maxlength = "15" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <input type="button" id="saveChangePassword" class="btn btn-primary" value="Зберегти" />
                </div>
            </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
