﻿@using barometer.Models.Enums
@using barometer.Models.ViewModel
@using barometer.Models.Business
@using barometer.Helpers
@model InsertDataPartialViewModel

@{
    var list = Model.DataByCountry.Where(x => x.TypeData == (short) (User.IsInRole("Airport") ? TypeDataEnum.RegularAirport : TypeDataEnum.HotelAndHostelAndTIC)).ToList();
    DataByCountry dataCountrySecond = null;
    int valueSecond, idSecond = 0;
    string columnTitleFirst, columnTitleSecond = string.Empty;

    if (User.IsInRole("Hotel") || User.IsInRole("Hostel"))
    {
        columnTitleFirst = "Кількість туристів";
        columnTitleSecond = "Кількість ліжко-ночей";
    }
    else if (User.IsInRole("Airport"))
    {
        columnTitleFirst = "Регулярні";
        columnTitleSecond = "Чартерні";
    }
    else {
        columnTitleFirst = "Кількість туристів";
    }
} 
@for(int i=0; i < 3; i++)
{
    <div class="insertData-block-group pull-left">
        @if (!User.IsInRole("TIC"))
        { 
            <h6>@columnTitleSecond</h6>
        }
        <h6>@columnTitleFirst</h6>
    </div>
}
    <form id="insertDataForm">
        @Html.HiddenFor(x=>x.CountTourists)
        @foreach (var item in list)
        {
            <div class="form-group pull-left insertData-block-group">
                <label>@item.CountryName</label>
                @if (User.IsInRole("Hotel") || User.IsInRole("Airport") || User.IsInRole("Hostel"))
                {
                    dataCountrySecond = Model.DataByCountry.FirstOrDefault(x => x.CountryAlias == item.CountryAlias && x.Id != item.Id);
                    valueSecond = (dataCountrySecond != null) ? dataCountrySecond.ValueOne : 0;
                    idSecond = (dataCountrySecond != null) ? dataCountrySecond.Id : 0;
                    if (Model.IsDisabled)
                    {
                        @Html.TextBox("country", valueSecond, new { @disabled = "disabled" });
                    }
                    else
                    {
                        @Html.TextBox(item.CountryAlias + "_Item2", valueSecond, new { @data_id_val = idSecond, @data_type_val = CommonHelper.GetInsertDataOtherDataType(User), @maxlength = 5, @onkeypress = "return validateQty(event);" })
                    }
                }

                @if (Model.IsDisabled)
                {
                    @Html.TextBox("country", item.ValueOne, new { @disabled = "disabled" });
                }
                else
                {
                    @Html.TextBox(item.CountryAlias + "_Item1", item.ValueOne, new { @data_id_val = item.Id, @data_type_val = item.TypeData, @maxlength = 5, @onkeypress = "return validateQty(event);" })
                }
            </div>
        }
    </form>
    <div class="clearfix"></div>
    <div class="form-group col-sm-12 text-center">
        <h6 class="insert-data-comments-label">Коментар</h6>
        @if (Model.IsDisabled)
        {
            @Html.TextArea("Comment", Model.Comment.Text ?? string.Empty, new { @disabled = "disabled" })
        }
        else
        {
            @Html.HiddenFor(x => x.Comment.Id)
            @Html.TextAreaFor(x => x.Comment.Text)
        }
        <div class="clearfix"></div>
        @if (!Model.IsDisabled)
        {
            <button type="button" id="saveInsertData" class="btn btn-primary">Зберегти все</button>
        }
    </div>
