﻿@using barometer.Models.ViewModel
@model EditUserDataViewModel

@{
    ViewBag.Title = "Редагування особистих даних - barometer.lviv.ua";
}

<h4>Редагування особистої інформації</h4>
<div id="loadingDuringSaveUserInformation"></div>
<form id="EditUserForm" class="form-horizontal col-sm-6 col-sm-offset-3">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-sm-3">Логін:</label>
        <div class="col-sm-9">
            <label class="col-sm-12 form-control label-textbox" disabled="disabled">@Model.UserName</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Email<span class='error'> *</span>:</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", maxlength = "70" })
            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Ім'я<span class='error'> *</span>:</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", maxlength = "100" })
            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Прізвище:</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", maxlength = "100" })
            @Html.ValidationMessageFor(x => x.Surname, null, new { @class = "error" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3">Тип<span class='error'> *</span>:</label>
        <div class="col-sm-9">
            <label class="col-sm-12  form-control label-textbox" disabled="disabled">@Model.RoleName</label>
        </div>
    </div>
    @if (User.IsInRole("Hotel"))
    {
        <div class="form-group Star">
            <label class="col-sm-3">К-ть зірок<span class='error'> *</span>:</label>
            <div class="col-sm-9">
                @Html.DropDownListFor(x => x.Star, Model.Stars, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Star, null, new { @class = "error" })
            </div>
        </div>
        <div class="form-group NumberOfRooms">
            <label class="col-sm-3">К-ть номерів<span class='error'> *</span>:</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.NumberOfRooms, new { @class = "form-control", maxlength = "5", onkeypress = "validateQty(event)" })
                @Html.ValidationMessageFor(x => x.NumberOfRooms, null, new { @class = "error" })
            </div>
        </div>
    }

    @if (User.IsInRole("Hotel") || User.IsInRole("Hostel"))
    {
        <div class="form-group NumberOfBeds">
            <label class="col-sm-3">К-ть місць<span class='error'> *</span>:</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.NumberOfBeds, new { @class = "form-control", maxlength = "5", onkeypress = "validateQty(event)" })
                @Html.ValidationMessageFor(x => x.NumberOfBeds, null, new { @class = "error" })
            </div>
        </div>
    }

    @if (!User.IsInRole("Operator"))
    {
        <div class="form-group DistanceId">
            <label class="col-sm-3">Розташування<span class='error'> *</span>:</label>
            <div class="col-sm-9">
                @Html.DropDownListFor(x => x.DistanceId, Model.Distances, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.DistanceId, null, new { @class = "error" })
            </div>
        </div>
    }

    @if (User.IsInRole("Hotel"))
    {
    <div class="form-group NumberOfConferencePosition">
        <label class="col-sm-3">М-ть конф. зал<span class='error'> *</span>:</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.NumberOfConferencePosition, new { @class = "form-control", maxlength = "5" })
            @Html.ValidationMessageFor(x => x.NumberOfConferencePosition, null, new { @class = "error" })
        </div>
    </div>
    }

    <div class="form-group">
        <label class="col-sm-3">Номер  тел.:</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", maxlength = "15", onkeypress = "validateQty(event)" })
            @Html.ValidationMessageFor(x => x.PhoneNumber, null, new { @class = "error" })
        </div>
    </div>
    <button type="button" id="SaveUserData" class="btn btn-primary pull-right">Зберегти</button>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/editUserData")
}